{% extends "index.html" %}

{% block title %}
    {% if is_edit %}ویرایش سوال{% else %}افزودن سوال{% endif %}
{% endblock %}

{% block content %}
<style>
    button,a{
        text-decoration: none;
        color: black;
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }
</style>
<h2>{% if is_edit %}ویرایش سوال{% else %}افزودن سوال{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if formset %}
        <h3>گزینه‌ها:</h3>
        {{ formset.management_form }}
        {% for f in formset %}
            <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
                {{ f.as_p }}
            </div>
        {% endfor %}
    {% endif %}

    <div style="display: flex;justify-content: space-between;align-items: center;width: 35%;margin: auto;margin-top: 40px;margin-bottom: 50px;"><button type="submit">ذخیره</button>
    <a href="{% url 'exam_questions' exam.id %}">بازگشت</a></div>
</form>



{% endblock %}
